.col-list {
    margin-left: 8rem !important;
    margin-right: 8rem !important;
    flex-wrap: wrap !important
}
.child-content {
    color: black
}
body, button, input, select, textarea {
    
}
.text-delimiter {
    padding-left: 20rem !important;
    padding-right: 20rem !important;
    padding-bottom: 3ex !important;
    color: #9AA7AF !important;
}
.full-paralax {
    height: 583px;
    width: 100%;
    background: url('http://127.0.0.1:8000/images/background-immo.jpg') center no-repeat;
    background-size: cover;
    display: flex
}

body, button, input, select, textarea {
    font-family: 'Lato'
}
.child-paralax {
    width: 80%;;
    margin: auto;
    height: inherit;
}
.child-paralax>div {
    text-align: center;
    display: grid
}
.child-paralax h1 {
    margin-top: 13ex;
    font-family: 'Ubuntu';
    margin-bottom: 0;
}
.delimiter {
    background: url('../images/delimiter2.png') center no-repeat;
    height: 76px;
    background-size: 20%;
}
.text-info-site {
    margin-left: 20%;
    margin-right: 20%;
}
@media(max-width:1150px ) {
    .child-paralax { 
        width: 100%;
    }
}
@media(max-width:767px ) {
    .full-paralax { 
        height: 785px
    }
}
@media(max-width:1137px ) {
    .text-delimiter { 
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
    .col-list {
        margin-left: 1% !important;
        margin-right: 1% !important;
    }
    .col-appart-modern {
        height: 582px !important;
    }
}
@media(max-width: 1187px) {
    .text-modern-house p  {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
}
@media(max-width: 1299px) {
    .col-contact {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
}
@media(max-width: 1053px) {
    .col-contact {
        margin-left: 1% !important;
        margin-right: 1% !important;
    }
}
@media(max-width:846px) {
    .col-contact {
        display: grid !important
    }
    .col-contact div {
       width:100% !important;
    }
    
}

.col-last-publish {
    margin-top: 3ex
}
.col-last-publish div:first-of-type h2 {
    margin-bottom: 0
}
.col-last-publish div:first-of-type {
    display: grid;
    text-align: center
}
.col-content {
    display: flex
}
.child-content {
    display: grid;
    padding: 7px;
    width: 50%
}
.col-content>.child-content:first-of-type {
    text-align: left
}
.col-content>.child-content:nth-of-type(2) {
    text-align: right
}
.cards:hover {
    cursor: pointer;
}
.col-head-immo {
    height: 119px;
}
.footer {
    background: #000;
}