.col-list {
    margin-left: 8rem !important;
    margin-right: 8rem !important;
    flex-wrap: wrap !important
}
.child-content {
    color: black
}
body, button, input, select, textarea {
    font-family: 'Lato' !important
}