{% extends 'base.html.twig' %}

{% block title %} Lire la suite {% endblock %}

{% block body %}
    <div class="content"  style="padding-left: 37px;">
        <h1 class="title">Tous les articles</h1>
         <h2 class="title is-2"> {{ article.title }} </h2>
    </div>

{% endblock %}