
{% macro printStepPrototype(defaultStep) %}
        <div class="form-group form-float">
            <div class="form-line">
                {{ form_widget(defaultStep) }}
            </div>
        </div>
{% endmacro %}